<!--
 * @Author: Fox Blue
 * @Date: 2021-06-26 00:09:27
 * @LastEditTime: 2021-10-08 13:22:40
 * @Description: Forward, no stop
-->
<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">对应币种</label>
            <div class="layui-input-block">
                <select name="product_id" lay-verify="required">
                    <option value=''></option>
                    {foreach $getProductLists as $k=>$v}
                    <option value='{$v.id}' >{$v.title}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">玩法周期</label>
            <div class="layui-input-block">
                <input type="text" name="play_time" class="layui-input" lay-verify="required" placeholder="请输入玩法周期" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最小限额</label>
            <div class="layui-input-block">
                <input type="text" name="play_price" class="layui-input" lay-verify="required" placeholder="请输入最小限额" value="0.0000">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最大限额</label>
            <div class="layui-input-block">
                <input type="text" name="max_price" class="layui-input" lay-verify="required" placeholder="请输入最大限额" value="0.0000">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回报率</label>
            <div class="layui-input-block">
                <input type="text" name="play_rate" class="layui-input" lay-verify="required" placeholder="请输入回报率" value="0.0000">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">语言内容</label>
            <div class="layui-input-block">
                <div class="layui-tab layui-tab-card">
                    <ul class="layui-tab-title">
                        {foreach $lang_list as $key=>$val}
                        <li {if $val==sysconfig('base','base_lang')}class="layui-this"{/if}>{$val}</li>
                        {/foreach}
                    </ul>
                    <div class="layui-tab-content">
                        {foreach $lang_list as $key=>$val}
                        <div class="layui-tab-item {if $val==sysconfig('base','base_lang')}layui-show{/if}">
                            <div class="layui-form-item">
                                <label class="layui-form-label">产品标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title[{$val}]" class="layui-input"  placeholder="请输入标题" value="">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">产品图片</label>
                                <div class="layui-input-block layuimini-upload">
                                    <input name="logo[{$val}]" class="layui-input layui-col-xs6"   placeholder="请上传图片" value="">
                                    <div class="layuimini-upload-btn">
                                        <span><a class="layui-btn" data-upload="logo[{$val}]" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                                        <span><a class="layui-btn layui-btn-normal" id="select_logo_{$key}" data-upload-select="logo[{$val}]" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">内容描述</label>
                                <div class="layui-input-block">
                                    <textarea name="content[{$val}]" rows="20" class="layui-textarea editor" 内容描述 placeholder="请输入内容描述"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">备注说明</label>
                                <div class="layui-input-block">
                                    <textarea name="remark[{$val}]" class="layui-textarea"  placeholder="请输入备注说明"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        {/foreach}
                    </div>
                  </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">限购</label>
            <div class="layui-input-block">
                <input type="text" name="can_buy" class="layui-input"  placeholder="请输入限购数字" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" class="layui-input"  placeholder="请输入排序" value="0">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>