<link rel="stylesheet" href="__STATIC__/plugs/lay-module/layuimini/layuimini.css?v={:time()}" media="all">
<link rel="stylesheet" href="__STATIC__/plugs/lay-module/layuimini/themes/default.css?v={:time()}" media="all">

<style id="layuimini-bg-color">
</style>
<body class="layui-layout-body layuimini-all">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header header">
        <div class="layui-logo layuimini-logo"></div>

        <div class="layuimini-header-content">
            <a>
                <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
            </a>

            <!--电脑端头部菜单-->
            <ul class="layui-nav layui-layout-left layuimini-header-menu layuimini-menu-header-pc layuimini-pc-show">
            </ul>

            <!--手机端头部菜单-->
            <ul class="layui-nav layui-layout-left layuimini-header-menu layuimini-mobile-show">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-list-ul"></i> 选择模块</a>
                    <dl class="layui-nav-child layuimini-menu-header-mobile">
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" data-clear="清理" class="layuimini-clear"><i class="fa fa-trash-o"></i></a>
                </li>
                <li class="layui-nav-item mobile layui-hide-xs" lay-unselect>
                    <a href="javascript:;" data-check-screen="full"><i class="fa fa-arrows-alt"></i></a>
                </li>
                <li class="layui-nav-item layuimini-setting">
                    <a href="javascript:;">
                        <img src="{:session('admin.head_img')}" class="layui-nav-img" width="50" height="50">
                        <cite class="adminName">{:session('admin.username')}</cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" layuimini-content-href="{:__url('index/editAdmin')}" data-title="基本资料" data-icon="fa fa-gears">基本资料<span class="layui-badge-dot"></span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" layuimini-content-href="{:__url('index/editPassword')}" data-title="修改密码" data-icon="fa fa-gears">修改密码</a>
                        </dd>
                        <dd>
                            <hr>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="login-out">退出登录</a>
                        </dd>
                    </dl>
                </li>
                <!-- 提示音开关 -->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" id="notifyToggle" title="提示音开关">
                        <i class="fa fa-bell" id="notifyIcon"></i>
                        <span id="notifyBadge" class="layui-badge-dot layui-hide"></span>
                    </a>
                </li>
                <li class="layui-nav-item layuimini-select-bgcolor" lay-unselect>
                    <a href="javascript:;" data-bgcolor="配色方案"><i class="fa fa-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <!--无限极左侧菜单-->
    <div class="layui-side layui-bg-black layuimini-menu-left">
    </div>

    <!--初始化加载层-->
    <div class="layuimini-loader">
        <div class="layuimini-loader-inner"></div>
    </div>

    <!--手机端遮罩层-->
    <div class="layuimini-make"></div>

    <!-- 移动导航 -->
    <div class="layuimini-site-mobile"><i class="layui-icon"></i></div>

    <div class="layui-body">
        <div class="layuimini-tab layui-tab-rollTool layui-tab" lay-filter="layuiminiTab" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
            </ul>
            <div class="layui-tab-control">
                <li class="layuimini-tab-roll-left layui-icon layui-icon-left"></li>
                <li class="layuimini-tab-roll-right layui-icon layui-icon-right"></li>
                <li class="layui-tab-tool layui-icon layui-icon-down">
                    <ul class="layui-nav close-box">
                        <li class="layui-nav-item">
                            <a href="javascript:;"><span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;" layuimini-tab-close="current">关 闭 当 前</a></dd>
                                <dd><a href="javascript:;" layuimini-tab-close="other">关 闭 其 他</a></dd>
                                <dd><a href="javascript:;" layuimini-tab-close="all">关 闭 全 部</a></dd>
                            </dl>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="layui-tab-content">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show"></div>
            </div>
        </div>
    </div>
</div>

<!-- 提示音通知脚本 -->
<script>
(function() {
    // 提示音状态（从localStorage读取）
    var notifyEnabled = localStorage.getItem('notifySound') !== 'off';
    var notifyIcon = document.getElementById('notifyIcon');
    var notifyBadge = document.getElementById('notifyBadge');
    var notifyToggle = document.getElementById('notifyToggle');
    
    // 创建音频上下文
    var audioContext = null;
    
    // 更新图标状态
    function updateIcon() {
        if (notifyEnabled) {
            notifyIcon.className = 'fa fa-bell';
            notifyToggle.title = '提示音已开启（点击关闭）';
        } else {
            notifyIcon.className = 'fa fa-bell-slash';
            notifyToggle.title = '提示音已关闭（点击开启）';
        }
    }
    
    // 播放提示音
    function playNotifySound() {
        if (!notifyEnabled) return;
        
        try {
            if (!audioContext) {
                audioContext = new (window.AudioContext || window.webkitAudioContext)();
            }
            
            var playTone = function(freq, startTime, duration) {
                var oscillator = audioContext.createOscillator();
                var gainNode = audioContext.createGain();
                
                oscillator.connect(gainNode);
                gainNode.connect(audioContext.destination);
                
                oscillator.frequency.value = freq;
                oscillator.type = 'sine';
                
                gainNode.gain.setValueAtTime(0.3, startTime);
                gainNode.gain.exponentialRampToValueAtTime(0.01, startTime + duration);
                
                oscillator.start(startTime);
                oscillator.stop(startTime + duration);
            };
            
            var now = audioContext.currentTime;
            playTone(880, now, 0.15);
            playTone(1100, now + 0.15, 0.15);
            playTone(1320, now + 0.3, 0.2);
            
        } catch (e) {
            console.log('无法播放提示音:', e);
        }
    }
    
    // 显示通知
    function showNotification(message) {
        if (typeof layer !== 'undefined') {
            layer.msg(message, {
                icon: 1,
                time: 3000,
                offset: 'rt',
                anim: 6
            });
        }
    }
    
    // 检查新通知
    function checkNewNotify() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/{$adminModuleName|default="admin"}/index/checkNewNotify', true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                try {
                    var res = JSON.parse(xhr.responseText);
                    if (res.code === 0 && res.data.hasNew) {
                        notifyBadge.className = 'layui-badge-dot';
                        playNotifySound();
                        
                        var msg = [];
                        if (res.data.newRecharge > 0) {
                            msg.push('新充值 ' + res.data.newRecharge + ' 条');
                        }
                        if (res.data.newSeconds > 0) {
                            msg.push('新期权订单 ' + res.data.newSeconds + ' 条');
                        }
                        if (res.data.newLeverdeal > 0) {
                            msg.push('新合约订单 ' + res.data.newLeverdeal + ' 条');
                        }
                        if (res.data.newDeal > 0) {
                            msg.push('新币币订单 ' + res.data.newDeal + ' 条');
                        }
                        if (msg.length > 0) {
                            showNotification(msg.join('，'));
                        }
                    } else {
                        notifyBadge.className = 'layui-badge-dot layui-hide';
                    }
                } catch (e) {
                    console.log('解析通知数据失败:', e);
                }
            }
        };
        xhr.send();
    }
    
    // 初始化
    updateIcon();
    
    // 点击开关
    notifyToggle.addEventListener('click', function(e) {
        e.preventDefault();
        notifyEnabled = !notifyEnabled;
        localStorage.setItem('notifySound', notifyEnabled ? 'on' : 'off');
        updateIcon();
        
        if (typeof layer !== 'undefined') {
            layer.msg(notifyEnabled ? '提示音已开启' : '提示音已关闭', {icon: 1, time: 1500});
        }
        
        if (notifyEnabled) {
            setTimeout(playNotifySound, 500);
        }
    });
    
    // 每30秒检查一次新通知
    setInterval(checkNewNotify, 30000);
    
    // 页面加载后5秒开始第一次检查
    setTimeout(checkNewNotify, 5000);
    
})();
</body>
