<!--
 * @Author: Fox Blue
 * @Date: 2021-07-25 14:18:45
 * @LastEditTime: 2021-08-22 14:23:33
 * @Description: Forward, no stop
-->
<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">充值信息</label>
            <div class="layui-input-block">
                <div class="div-cos"><label>充值币</label>{$row.coin}</div>
                {if !empty($row.title)}
                <div class="div-cos"><label>币方式</label>{$row.title}</div>
                {/if}
                <div class="div-cos"><label>币地址</label>{$row.address}</div>
                <div class="div-cos"><label>金额量</label>{$row.account}</div>
                <div class="div-cos"><label>手续费</label>{$row.account_sxf}</div>
                <div class="div-cos"><label>变动额</label>{$row.all_account}</div>
                <div class="div-cos"><label>原有额</label>{$row.ex_money}</div>
                <div class="div-cos"><img src="{$row.up_pic}" style="max-width: 600;"></div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                {foreach $wallet_log_status as $key => $val}
                <input type="radio" name="status" value="{$key}" title="{$val}" {if $key==$row.status}checked{/if}>
                {/foreach}
            </div>
        </div>

    </form>
</div>