<!--
 * @Author: Fox Blue
 * @Date: 2021-07-22 14:56:12
 * @LastEditTime: 2021-08-19 12:40:28
 * @Description: Forward, no stop
-->
<ul>
    <li {if $leftmenu=='ex'} class="layui-this"{/if}><a href="{:url('finance/index')}">{:lang('mobile_finance.ex_title')}</a></li>
    <li {if $leftmenu=='le'} class="layui-this"{/if}><a href="{:url('finance/lefinance')}">{:lang('mobile_finance.le_title')}</a></li>
    <li {if $leftmenu=='op'} class="layui-this"{/if}><a href="{:url('finance/opfinance')}">{:lang('mobile_finance.op_title')}</a></li>
    <li {if $leftmenu=='up'} class="layui-this"{/if}><a href="{:url('finance/upfinance')}">{:lang('mobile_finance.up_title')}</a></li>
    <li {if $leftmenu=='cm'} class="layui-this"{/if}><a href="{:url('finance/cmfinance')}">{:lang('mobile_finance.cm_title')}</a></li>
    <!--<li {if $leftmenu=='tf'} class="layui-this"{/if}><a href="{:url('finance/transfer')}">{:lang('mobile_finance.tf_title')}</a></li>-->
</ul>