<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">所属用户</label>
            <div class="layui-input-block">
                <input type="text" name="uid" class="layui-input" lay-verify="required" placeholder="请输入所属用户" value="{$row.uid|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">对应币种</label>
            <div class="layui-input-block">
                <select name="product_id" lay-verify="required">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">钱包地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" class="layui-input"  placeholder="请输入钱包地址" value="{$row.address|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">币币帐户</label>
            <div class="layui-input-block">
                <input type="text" name="ex_money" class="layui-input"  placeholder="请输入币币帐户" value="{$row.ex_money|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">币币锁定帐户</label>
            <div class="layui-input-block">
                <input type="text" name="lock_ex_money" class="layui-input"  placeholder="请输入币币锁定帐户" value="{$row.lock_ex_money|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合约帐户</label>
            <div class="layui-input-block">
                <input type="text" name="le_money" class="layui-input"  placeholder="请输入合约帐户" value="{$row.le_money|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合约锁定帐户</label>
            <div class="layui-input-block">
                <input type="text" name="lock_le_money" class="layui-input"  placeholder="请输入合约锁定帐户" value="{$row.lock_le_money|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">期权帐户</label>
            <div class="layui-input-block">
                <input type="text" name="op_money" class="layui-input"  placeholder="请输入期权帐户" value="{$row.op_money|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">期权锁定帐户</label>
            <div class="layui-input-block">
                <input type="text" name="lock_op_money" class="layui-input"  placeholder="请输入期权锁定帐户" value="{$row.lock_op_money|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户钱包</label>
            <div class="layui-input-block">
                <input type="text" name="user_money" class="layui-input"  placeholder="请输入用户钱包" value="{$row.user_money|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态(1:禁用,2:启用)</label>
            <div class="layui-input-block">
                <input type="text" name="status" class="layui-input"  placeholder="请输入状态(1:禁用,2:启用)" value="{$row.status|default=''}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注说明</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea"  placeholder="请输入备注说明">{$row.remark|raw|default=''}</textarea>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>