<!--
 * @Author: Fox Blue
 * @Date: 2021-07-27 01:22:50
 * @LastEditTime: 2021-07-27 01:44:42
 * @Description: Forward, no stop
-->
<div class="header">
    {include file="./block/block_head"}
</div>
<div class="new-bg">
	<div class="main">
		<div class="layui-container">
			<div class="white-box">
				<div class="transfer-box">
					<h5>
						<span class="layui-inline">{:lang('finance.transfer_logs')}</span>
						<div class="layui-inline float-right">
							<a href="{:url('finance/transfer')}" class="text-right">{:lang('public.goback')}<i class="layui-icon layui-icon-right"></i></a>
						</div>
					</h5>
					<hr >
					<div class="log-table">
						<table class="layui-table" lay-skin="nob">
						  <thead>
						    <tr>
								<th>{:lang('finance.flow_time')}</th>
								<th>{:lang('finance.flow_title')}</th>
								<th>{:lang('finance.flow_all')}</th>
								<th>{:lang('finance.flow_resault')}</th>
						    </tr> 
						  </thead>
						  <tbody id="loglist">
						    
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--footer-->
{include file="./block/block_bottom"}
{include file="./block/foot_script"}
<script>
	layui.use(['layer', 'jquery', 'form', 'element', 'flow'], function(){
		var layer = layui.layer
		,$ = layui.jquery
		,form = layui.form;
		var element = layui.element;
		var flow = layui.flow;

		window.findlog = function(){
			$('#loglist').empty();
				flow.load({
				elem: '#loglist' //指定列表容器
				,colSpan:4 //列数
				,end:'<td colspan="4">{:lang("finance.finance_nodata")}</td>'
				,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
				var lis = [];
				$.post("{:url('finance/findalllog')}",{page:page}, function(res){
					layui.each(res.data, function(index, item){
					lis.push('<tr><td>'+ item.create_time +'</td><td>'+ item.title +'</td><td>'+ item.all_account +'</td><td>'+ item.status +'</td></tr>');
					}); 
					next(lis.join(''), page < res.pages);    
					});
				}
			});
		}

		$(function(){
			findlog();
		})
		
	})
	
</script>
