<!--
 * @Author: Fox Blue
 * @Date: 2021-05-31 23:30:32
 * @LastEditTime: 2021-08-04 19:22:51
 * @Description: Forward, no stop
-->
<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">分类ID</label>
            <div class="layui-input-block">
                <select name="cate_id" >
                    {foreach name="catelist" id="vo"}
                    <option value="{$vo.id}" {if $row.cate_id==$vo.id}selected{/if}>{$vo.title}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input" lay-verify="required" placeholder="请输入产品名称" value="{$row.title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品别称</label>
            <div class="layui-input-block">
                <input type="text" name="titles" class="layui-input" lay-verify="required" placeholder="请输入产品别称" value="{$row.titles|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">产品图标</label>
            <div class="layui-input-block layuimini-upload">
                <input name="logo" class="layui-input layui-col-xs6"   placeholder="请上传产品图标" value="{$row.logo|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="logo" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_logo" data-upload-select="logo" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">基础币</label>
            <div class="layui-input-block">
                <input type="radio" name="base" value="0" title="否" {if 0==$row.base}checked{/if}>
                <input type="radio" name="base" value="1" title="是" {if 1==$row.base}checked{/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">代码识别</label>
            <div class="layui-input-block">
                <input type="text" name="code" class="layui-input"  placeholder="请输入代码识别" value="{$row.code|default=''}">
                <tip class="color-gray">接口识别代码</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">基于</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input"  placeholder="请输入基于内容" value="{$row.name|default=''}">
                <tip class="color-gray">如果为USDT对应为USDT充币地址</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">资产类型</label>
            <div class="layui-input-block">
                {foreach $coin_types as $key => $val}
                <input type="checkbox" name="types[{$key}]" lay-skin="primary" title="{$val}" {if in_array($key,$row.types)}checked{/if}>
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">首页显示</label>
            <div class="layui-input-block">
                <input type="radio" name="ishome" value="0" title="否" {if 0==$row.ishome}checked{/if}>
                <input type="radio" name="ishome" value="1" title="是" {if 1==$row.ishome}checked{/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">是否空气币</label>
            <div class="layui-input-block">
                <input type="radio" name="is_kong" value="0" title="否" {if 0==$row.is_kong}checked{/if}>
                <input type="radio" name="is_kong" value="1" title="是" {if 1==$row.is_kong}checked{/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">可认购IEO</label>
            <div class="layui-input-block">
                <input type="radio" name="isIeorg" value="0" title="否" {if 0==$row.isIeorg}checked{/if}>
                <input type="radio" name="isIeorg" value="1" title="是" {if 1==$row.isIeorg}checked{/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">用户提现通道</label>
            <div class="layui-input-block">
                <input type="radio" name="withdraw_member" value="0" title="否" {if 0==$row.withdraw_member}checked{/if}>
                <input type="radio" name="withdraw_member" value="1" title="是" {if 1==$row.withdraw_member}checked{/if}>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" class="layui-input"  placeholder="请输入排序" value="{$row.sort|default=''}">
            </div>
        </div>
        
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注说明</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea"  placeholder="请输入备注说明">{$row.remark|raw|default=''}</textarea>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>